# Environments
venv/
env/
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Docker / Git
.dockerignore
Dockerfile
.git/

# IDEs
.vscode/
.idea/

# Logs and Data
*.log
*.pdf
faiss_index/
.streamlit/
