--extra-index-url https://download.pytorch.org/whl/cu121

streamlit
langchain
langchain-community
langchain-groq
langchain-google-genai
pypdf
faiss-cpu
python-dotenv
fastapi
uvicorn[standard]
python-multipart
redis>=5
langchain-huggingface
sentence-transformers
torch
torchvision
cachetools
docx2txt
pandas
openpyxl
